{% extends "registration/wall_base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block style %}
    <style type="text/css">
        p {
            display: inline-block;
            width: 100%;
        }
    </style>
{% endblock %}
{% block main %}

    <form action="" method="post">{% csrf_token %}
        <ul>

            {% if validlink %}
                <li>
                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                </li>
                <li>
                    <p>
                        {{ form.new_password1.errors }}
                    </p>
                    <label for="id_new_password1">{% trans 'New password:' %}</label>
                    {{ form.new_password1 }}
                </li>
                <li>
                    <p>
                        {{ form.new_password2.errors }}
                    </p>
                    <label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
                </li>
                <li>
                    <button type="submit">{% trans 'Change my password' %}</button>
                </li>

            {% else %}
                <li>
                    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
                </li>
            {% endif %}
        </ul>
    </form>

{% endblock %}
