{% load i18n %}
{% autoescape off %}
    <p>您收到这封邮件是应为您请求更改<a href="{{ protocol }}://{{ domain }}">{{ site_name }}</a>的密码.</p>
    <p>
        {% trans "Please go to the following page and choose a new password:" %}
        {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}
    </p>
    <p>{% trans "别忘了你的用户名:" %} {{ user.get_username }}</p>
    <p>{% trans "感谢使用我们的服务!" %}</p>
    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endautoescape %}
