{% extends 'registration/wall_base.html' %}
{% load i18n %}
{% block title %}发送成功{% endblock %}
{% block style %}
    <style type="text/css">
        p{
            width: 100%;
        }
    </style>
{% endblock %}
{% block main %}
    <form action="" method="post" class="single-form auth-form">
        <ul>
            <li>
                <p>{% trans "我们已给你您发送了修改密码的连接,稍后请查收." %}</p>
            </li>
            <li>
                <p>{% trans "如果没有收到邮件请确认密码是否输入正确." %} <a href="/">返回首页</a></p>
            </li>
        </ul>
    </form>
{% endblock %}

