{% extends "base.html" %}
{% block app_name %}search{% endblock %}
{% block main_style %}
    <link rel="stylesheet" href="/static/application/theme/search.css">
{% endblock %}
{% block header %}
    <div id="searchBox" ng-controller="searchBoxCtrl">
        <input id="searchInput"
               ng-model="searchWords"
               ng-keyup="search(searchWords, $event)"
               placeholder="书名 / 作者 / 标签">
    </div>
{% endblock %}
{% block content %}
{% endblock %}
{% block main_script %}
    <script src="/static/application/pages/search.js"></script>
{% endblock %}